@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-50;
}

.clip-arrow {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-tip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.tooltip:hover:before {
  opacity: 1;
}